body {
  background-color: rgb(48, 36, 23);
  background-image: url('borderpattern.svg');
  background-size: 100px 100px;
  margin: 0;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: 'cambriafnt';
  src: url('Cambria.ttf');
}

.logo {
  margin-left: 15px;
  height: 50px;
  margin-top: 15px;
  display: absolute;
}

.e {
  text-decoration: none;
  color: rgba(251, 176, 64,255);
  font-style: italic;
  font-weight: normal;
}

.example {
  color: rgba(187,138,100,255);
  float: right;
  display: inline-flex;
  justify-content: space-between;
  margin-right: 5%;
  align-items: center;
  width: 400px;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "cambriafnt";
  height: 50px;
}

@media screen and (max-width: 700px) {
  .example {
    width: 0%;
    height: 0%;
    margin: 0%;
    visibility: hidden;
  }
}

.text3 {
  overflow: hidden;
  min-height: 400px;
}



.text5 {
  background-color: rgb(17,12,17);
  height: 350px;
  border-radius: 5px;
  border-top-style: solid;
  border-color: rgb(46,36,44);
  border-top-width: 50px;
  border-bottom-style: solid;
  border-bottom-width: 50px;
}

.rline {
  height: 300px;
  display: flex;
  border-left: 9px solid rgb(46,36,44);
  justify-content: center;
  align-items: center;
  margin-left: 50%;
}

.i {
  color: rgb(255, 224, 159);
  font-family: "cambriafnt";
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  font-size: clamp(0em, 7vw, 1.5em);
  text-align: center;
  border: none;
  width: 100%;
  left: 25%;
  height: 237px;
  position: absolute;
}

.ie {
  position: absolute;
  color: rgb(255, 224, 159);
  font-family: "cambriafnt";
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  font-size: clamp(0em, 7vw, 1.5em);
  text-align: center;
  border: none;
  width: 100%;
  height: 237px;
  display: inline-block;
}

.iee {
  position: absolute;
  color: rgb(255, 224, 159);
  font-family: "cambriafnt";
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  font-size: clamp(0em, 7vw, 1.5em);
  text-align: center;
  right: 25%;
  border: none;
  width: 100%;
  height: 237px;
  display: inline-block;
}

@media screen and (max-width: 700px) {
  .i{
    position: inherit;
  }

  .ie{
    position: inherit;
  }

  .iee{
    position: inherit;
  }
}

.box3 {
  height: 200px;
  width: 400px;
  background-color: rgb(17,12,17);
  margin-left: 50%;
}

.topbar {
  position: absolute;
  z-index: 1;
  background-color: rgb(48, 36, 23);
  overflow: hidden;
  height: auto;
  width: 100vw;
  padding-top: 10px;
}

.slideshow {
  height: 400px;
  overflow: hidden;
  opacity: 0.9;
  background-color: black;
  background-image: url("background.png");
  background-size: cover;
  background-position: center -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
}



.text1 {
  overflow: hidden;
  background-repeat: repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.twitlogo {
  margin-left: 2%;
}

.tglogo {

}

.foot {
  margin-top: 100px;
  height: 150px;
  overflow: hidden;
  text-align: center;
}

.footi {
  color: rgb(255, 224, 159);
  font-family: "cambriafnt";
  font-weight: normal;
  text-align: center;
  font-size: clamp(0em, 8vw, 1.5em);
  margin-top: 1%;
}
.prefoot {
  height: 200px;
}

.description {
  margin-top: 150px;
  text-align: center;
  left: 50%;
  color: rgb(237, 224, 206);
  font-size: clamp(0em, 8vw, 1.5em);
  font-family: sans-serif;
}

.quote {
  position: absolute;
  top: 150px;
  text-align: center;
  left: 50%;
  color: rgb(237, 224, 206);
  font-size: clamp(0em, 8vw, 2em);
  font-family: sans-serif;
}

.token {
  font-size: clamp(0em, 10vw, 2.5em);
  font-family: sans-serif;
  color: rgba(251, 176, 64,255);
  font-family: "cambriafnt";
  font-weight: normal;
  text-align: center;
}
.token2 {
  font-size: clamp(0em, 6vw, 1.5em);
  color: rgb(255, 224, 159);
  font-family: "cambriafnt";
  font-weight: normal;
  text-align: center;
}

.road {
  font-size: 48;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.icon {
  width: 100%;
  max-width: 200px;
  background-color: rgb(53,61,147);
  aspect-ratio: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.icon img{
  height: 60%;
}

.artdes {
  width: 100%;
  height: 180px;
  margin-top: 5px;
  margin-bottom: 0;
  color: rgb(96,80,82);
  text-align: center;
  background-color: rgb(17,12,17);
  display: inline-block;
  font-size: clamp(0em, 8vw, 1.5em);
  font-family: sans-serif;
  font-weight: normal;
}

.title {
  color: rgba(251, 176, 64,255);
  text-align: center;
  display: inline-block;
  font-size: clamp(0em, 10vw, 2.5em);
  font-family: 'cambriafnt';
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
}

.title2 {
  color: rgba(251, 176, 64,255);
  text-align: center;
  position: flex;
  font-size: clamp(0em, 8vw, 4em);
  font-family: "cambriafnt";
  font-weight: normal;
}

.title3 {
  margin-bottom: 50px;
  color: rgba(251, 176, 64,255);
  text-align: center;
  position: flex;
  font-size: clamp(0em, 8vw, 2em);
  font-family: "cambriafnt";
  font-weight: normal;
}

.descr {
  margin-bottom: 75px;
  color: rgb(255, 224, 159);
  text-align: center;
  position: flex;
  display: inline-block;
  font-size: clamp(0em, 8vw, 1.5em);
  font-family: "cambriafnt";
  font-weight: normal;
}

.descr2 {
  margin-bottom: 100px;
  line-height: 1em;
  color: rgb(255, 224, 159);
  text-align: center;
  position: flex;
  font-size: clamp(0em, 8vw, 1.5em);
  font-family: "cambriafnt";
  font-weight: normal;
}

.buttons
{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.pan {
  background-color: rgb(237, 224, 206);
  display: flex;
  bottom: 70px;
  color: rgb(96,80,82);
  font-size: clamp(0em, 8vw, 1.5em);
  align-items: center;
  border: none;
  width: 100%;
  height: 50px;
  font-family: sans-serif;
  justify-content: center;
}

.pan:hover {
  background-color: rgb(161, 127, 26)
}

.pan2 {
  background-color: rgb(17,12,17);
  display: flex;
  bottom: 110px;
  align-items: center;
  color: rgb(96,80,82);
  font-size: clamp(0em, 8vw, 1.5em);
  border: none;
  width: 100%;
  height: 50px;
  font-family: sans-serif;
  justify-content: center;
}

.pan2:hover {
  background-color: rgb(161, 127, 26)
}

.bord {
  height: 50px;
  margin-top: 95px;
  background-size: auto;
  background-image: url("borderneg.svg"), linear-gradient(to right, rgba(251, 176, 64, 0.9), rgba(243, 116, 67, 0.9));
}

.bord2 {
  height: 50px;
  bottom: 70px;
  position: relative;
  background-size: auto;
  background-image: url("borderneg.svg"), linear-gradient(to right, rgba(251, 176, 64, 0.9), rgba(243, 116, 67, 0.9));
}

.pan3 {
  cursor: pointer;
  margin-top: 60px;
  background-image: linear-gradient(to right, rgba(251, 176, 64, 1), rgba(243, 116, 67, 1));
  color: rgb(48, 36, 23);
  font-size: clamp(0em, 8vw, 2em);
  border: none;
  width: 76%;
  max-width: 370px;
  height: 60px;
  font-family: "cambriafnt";
  font-style: italic;
  transition: 200ms;
}

.pan5 {
  cursor: pointer;
  font-family: "cambriafnt";
  font-style: italic;
  background-image: linear-gradient(to right, rgba(251, 176, 64, 1), rgba(243, 116, 67, 1));
  color: rgb(48, 36, 23);
  font-size: clamp(0em, 8vw, 2em);
  border: none;
  width: 75%;
  max-width: 370px;
  height: 60px;
  margin-top: 25px;
  font-family: sans-serif;
  transition: 200ms;
}

.pan4 {
  cursor: pointer;
  font-family: "cambriafnt";
  font-style: italic;
  background-image: linear-gradient(to right, rgba(251, 176, 64, 1), rgba(243, 116, 67, 1));
  color: rgb(48, 36, 23);
  font-size: clamp(0em, 8vw, 2em);
  border: none;
  width: 75%;
  max-width: 370px;
  height: 60px;
  margin-top: 25px;
  font-family: sans-serif;
  transition: 200ms;
}

                                                                                                                                                                
